<h1><%= @board.title %></h1>

<% @board.lists.each do |list| %>
  <div>
    <h3><%= list.title %></h3>
    <ul>
      <% list.cards.each do |card| %>
        <li><%= card.title %></li>
      <% end %>
    </ul>
  </div>
<% end %>
